<div class='exchange_box col-sm-12'>
    <div class='card'>
            <div class='card-header text-center'>
                Simule sua conversão
            </div>
            <div class='card-block'>
                <%= form_with url: "/convert", method: :get, id: 'exchange_form' do |f| %>
                    <div class='local_currency'>
                        <div class='form-group'>
                        <p class='title'>Moeda Local</p>
                            <%= f.select 'source_currency', options_for_select(currency_list, 'BRL'), {}, { class: 'form-control', id: 'source_currency', name: 'source_currency' } %>
                        </div>
                        <div class='form-group'>
                        <%= f.number_field 'amount', id: 'amount', class: 'form-control', placeholder: 'Quantidade ($10)', step: 'any', required: true %>
                        </div>
                    </div>
                    <div class='destination_currency'>
                        <div class='form-group'>
                            <div class="form-group">
                               <p>Moeda Pretendida
                               <%= image_tag 'icon-currencies.png', class: 'btn btn-circle col-md-3', id: 'change'%></p>
                            </div>
                            <%= f.select 'target_currency', options_for_select(currency_list, 'EUR'), {}, { class: 'form-control', id: 'target_currency', name: 'target_currency' } %>
                        </div>
                        <div class='form-group'>
                            <input type='text' id='result' name='result' class='form-control' placeholder='Resultado' readonly>
                        </div>
                    </div>
                   
                <% end %>
            </div>
</div>
</div>
